<div class="card-row">
    <div class="card-col">
        
        <app-card> </app-card>
    </div>
    <div class="card-col">
        <app-card></app-card>
    </div>
    <div class="card-col">
        <app-card></app-card>
    </div>
    <!--
    <nb-layout-column><app-card></app-card></nb-layout-column>
    <nb-layout-column><app-card></app-card></nb-layout-column>
    <nb-layout-column><app-card></app-card></nb-layout-column>
  -->
</div>

<div class="card-row">
    <div class="card-col">
        <app-card> </app-card>
    </div>
    <div class="card-col">
        <app-card></app-card>
    </div>
  
    <!--
    <nb-layout-column><app-card></app-card></nb-layout-column>
    <nb-layout-column><app-card></app-card></nb-layout-column>
    <nb-layout-column><app-card></app-card></nb-layout-column>
  -->
</div>