.headerPrincipal{
  background-color: #a2d3a6;
  margin: auto;

}

.headerOpcional{
  background-color: #a2d3a6;
  margin: auto;

}/*
.navbarmenu{
  background-color: #208928;
  margin: auto;
}

nav {
  justify-content: center;
  margin: auto;
}*/


nb-card-header{
  top: -15px;
  position: relative;
}

.shadow{
  box-shadow: 5px 10px #000000;
  box-shadow:20px 20px 10px grey;
  height: 180px;
  width: 80%;
  min-width: 300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
