.headerPrincipal{
  background-color: #89beb3; //#b4d0ad;
  margin: auto;
  color: rgb(0, 0, 0);
}

.headerOpcional{
  background-color: #89beb3; // #b4d0ad;
  margin: auto;
  color: rgb(0, 0, 0);
}/*
.navbarmenu{
  background-color: #208928;
  margin: auto;
}

nav {
  justify-content: center;
  margin: auto;
}*/


nb-card-header{
  top: -10px;
  position: relative;

}
nb-card{
border:none;
}
.shadow{
  //box-shadow: 5px 10px 15px #000000;
  box-shadow:20px 20px 20px #000000;
  height: 200px;
  width: 80%;
  min-width: 300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.innerText{
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
}

.gcColor{
background-color: #444444;
}
