.navbarmenu{

  margin: auto;
  .colored-column-basic{
    margin-top:0;
  }

}

:host{
  @media (max-width: 991.98px){
nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: 0;

}
}}
@media (max-width: 430.98px){
  .navbarmenu{
    height: 100px;
  }
}

@media (max-width: 306.98px){
  .navbarmenu{
    height: 140px;
  }
}

nav {
  justify-content: center;
  margin: auto;
}

