@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */


.layout-bg {
  background-color: rgb(60, 37, 191);
}

.nb-theme-default {
  background-color: rgb(144, 35, 35);
  border: none;
}
/*
:host {
background-color: nb-theme(background-basic-color-1);
//color: nb--theme(header-text-color);

  //background-color: nb-theme(background-basic-color-1);
  background: rgb(129,255,82);
  background-color: dimgrey;
}
*/

.card-row {
  display: flex;
  margin: 0 -0.5rem;

}

.card-col {
  flex: 1 0 calc(33% - 1rem);
  margin: 0 0.5rem;
}

.center{
  justify-content: center;

}

.marginauto{
  margin:auto;
}

.zoomeable{
  transition: all .3s linear;
  //position: relative;
  //z-index: 1;
}


.zoomeable:hover{
  transform: scale(1.05, 1.05);
  transition: all .3s linear;
  cursor: pointer;
  z-index: 3;
}

.center{
  justify-content: center;
  text-align: center;
}

$colorPrincipal : #8997a9;





.navbarmenu{
  background-color:#135319;//#208928;
}
